<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <ion-row>
            <ion-col size="12">
                <ion-input 
                    fill="outline"
                    label="Usuario"
                    labelPlacement="floating"
                    type="text" 
                    name="username" 
                    [(ngModel)]="usuario" 
                    required>
                </ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-input 
                    fill="outline"
                    label="Contraseña"
                    labelPlacement="floating"
                    type="password" 
                    name="password" 
                    [(ngModel)]="password" 
                    required>
                </ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button 
                    expand="block" 
                    type="submit" 
                    [disabled]="!loginForm.form.valid">
                    Iniciar sesión
                </ion-button>
            </ion-col>
        </ion-row>
</form>