<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <ion-row>
    <ion-col size="12">
        <ion-input 
            fill="outline"
            label="Nombre"
            labelPlacement="floating"
            type="text" 
            name="nombre" 
            [(ngModel)]="this.nombre" 
            required
            minlength="3"
            appReservado="Jorge"
            #nombre="ngModel"
            errorText="{{ nombre.errors | errorMessage: 'nombre'}}"
        >
        </ion-input>
    </ion-col>
    <ion-col>
      {{ nombre.errors | json }}
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="12">
        <ion-label>Roles</ion-label>
        @for (rol of this.rolesTotales(); track rol) {
          <ion-item >
            <ion-checkbox
              slot="start"
              [checked]="this.roles().includes(rol)"
              (ionChange)="onRoleChange($event, rol)"
              >
            </ion-checkbox>
            <ion-label>{{ rol }}</ion-label>
          </ion-item>
        }
      </ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="12">
      {{ roles.errors | json }}
      <ion-select
        label="Roles"
        labelPlacement="floating"
        fill="outline"
        multiple="true" 
        name="roles"
        (ionChange)="onSelectChange($event)"
        [(ngModel)]="this.roles"
        helperText="Selecciona uno o más roles."
        required
        #roles="ngModel"
        >
        @for (rol of this.rolesTotales(); track rol) {
          <ion-select-option selected [value]="rol">{{ rol }}</ion-select-option>
        }
      </ion-select>
  </ion-col>
</ion-row>
  <ion-row>
      <ion-col size="12">
          <ion-button 
              expand="block" 
              type="submit" 
              [disabled]="!userForm.form.valid">
              GUARDAR
          </ion-button>
      </ion-col>
  </ion-row>
        
</form>